<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>vmailManage - {% block title %}manage your email server{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
    {#<link rel="stylesheet" href="{{ asset('css/main.css') }}"/>#}
    <link rel="stylesheet" href="{{ asset('css/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/spectre-exp.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/spectre-icons.min.css') }}">
</head>
<body>

<div class="container grid-lg">

    <header class="navbar">
        <section class="navbar-section">
            <strong>vMailManage</strong>
        </section>
        <section class="navbar-section">
            <a class="btn btn-link" href="{{ path('list_domains') }}">domain</a>
            <a class="btn btn-link" href="{{ path('list_accounts') }}">account</a>
            <a class="btn btn-link" href="{{ path('list_aliases') }}">alias</a>
        </section>
        <section class="navbar-section text-center">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn" href="{{ path('logout') }}">logout</a>
            {% endif %}
        </section>
    </header>

    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
