<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}vmailManage - manage your email server{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
    {#<link rel="stylesheet" href="{{ asset('css/main.css') }}"/>#}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
</head>
<body>

{% block javascripts %}{% endblock %}

<div class="pure-g">

    <div class="header pure-u-5-5">
        <div class="header_menu">
            <a href="{{ path('list_domains') }}">domain</a> |
            <a href="{{ path('list_accounts') }}">account</a> |
            <a href="{{ path('list_aliases') }}">alias</a>
        </div>
        <div class="header_logon">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('logout') }}">logout</a>
            {% endif %}
        </div>
    </div>

    {% block body %}{% endblock %}

</div>

</body>
</html>