{# app/Resources/views/editAccount.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns">
        <h1 class="column">Edit alias</h1>
    </div>
    {# form() by itself prints the whole form, as it does by default form_end() if you pass false #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="form-group">
        <div class="col-3">
            {{ form_label(form.source_username, null,{'label_attr': {'class': 'form-label'}}) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.source_username,{'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.source_username) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-3">
            {{ form_label(form.source_domain, null,{'label_attr': {'class': 'form-label'}}) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.source_domain,{'attr': {'class': 'form-select'}}) }}
            {{ form_errors(form.source_domain) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-3">
            {{ form_label(form.destination_username, null,{'label_attr': {'class': 'form-label'}}) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.destination_username,{'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.destination_username) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-3">
            {{ form_label(form.destination_domain, null,{'label_attr': {'class': 'form-label'}}) }}
        </div>
        <div class="col-9">
            {{ form_widget(form.destination_domain,{'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.destination_domain) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-9 col-ml-auto">
            <label class="form-checkbox">
                {{ form_widget(form.enabled) }}
                <i class="form-icon"></i> Enabled
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-ml-auto col-9">
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
