{# app/Resources/views/editDomain.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <h1>Edit domain</h1>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {{ include('base_bottom.html.twig') }}

{% endblock %}