{# app/Resources/views/listDomains.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="columns">
        <h1>List domains</h1>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Domain</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% set showNote = false %}
        {% for item in domains %}
            <tr>
                <td>{{ item.domain }}</td>
                <td>
                    {% if item.accounts.count == 0 and item.aliases.count == 0 %}
                        <a href="{{ path('edit_domain', {'id': item.id}) }}" class="btn btn-primary">edit</a>
                        <a href="#" class="btn btn-error" onclick="confirmAction('{{ item.domain }}', '{{ path('delete_domain',{'id':item.id}) }}');">delete</a>
                    {% else %}
                        {% set showNote = true %}
                        {% if item.accounts.count > 0 %}{{ item.accounts.count }} accounts{% endif %}
                        {% if item.accounts.count > 0 and item.aliases.count > 0 %},{% endif %}
                        {% if item.aliases.count > 0 %}{{ item.aliases.count }} aliases{% endif %}
                        *
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td><a href="{{ path('edit_new_domain') }}" class="btn">+ new</a></td>
        </tr>
        </tfoot>
    </table>

    {% if showNote %}
        <p>*You can only edit or delete a domain, if there are no accounts or aliases referenced to it.</p>
    {% endif %}

{% endblock %}
